*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background: #222;
  color: #fff;
}

ul{
  display: flex;
  list-style: none;
  text-align: center;
  
}

ul li{
  margin: 10px;
  align-content: center; 
}

ul li a{
  text-decoration: none;
  color: #fff;
}